<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Zitan　　</span>
    <button mat-raised-button color="accent" (click)="openDialog()">会議登録 <i class="fa fa-lg fa-plus"></i></button>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-lg fa-user"></i> 木内太郎</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>設定</button>
      <button mat-menu-item>ログアウト</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <app-dashboard></app-dashboard>
  </div>
</main>
