<h1 mat-dialog-title>会議登録を行います</h1>
<div mat-dialog-content class="add-meeting-dialog-content">
  <mat-horizontal-stepper linear #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>基本情報</ng-template>
        <mat-form-field>
          <input matInput placeholder="会議名" formControlName="meetingNameCtrl" required>
        </mat-form-field>
        <br />
        <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="日付" formControlName="mtgDateCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="開始時刻" type="time" formControlName="startTimeCtrl" required>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="終了時刻" type="time" formControlName="endTimeCtrl" required>
        </mat-form-field>
        <br />
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>メンバー登録</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>確認</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
